@import "tailwindcss";

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-gray-900 overflow-x-hidden;
  }
}

@keyframes spinCircularText {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}